[Unit]
Description = timer unit of Scraping Program
Documentation = https://man.archlinux.org/man/systemd.unit.5.en

[Timer]
OnCalendar = *-*-*  6:00:00
Persistent = true
RandomizedDelaySec = 60s

[Install]
WantedBy = timers.target