[Unit]
Description = timer unit of Scraping Program


[Timer]
OnCalendar = *-*-*  10,14,18:40:00
Persistent = true
RandomizedDelaySec = 60s

[Install]
WantedBy = timers.target