
/* サイドバー検索ボックス非表示 */
#sidebar-search-container {
visibility: collapse!important;
}

/* コンテナータブのラインを下にする */
.tabbrowser-tab:not([pinned]) .tab-context-line {
-moz-box-ordinal-group: 2 !important;
height: 2px !important; /* ラインの太さ */
margin-top: 30px !important; /* ラインの高さ */
margin-right: 5px !important; /* ラインの長さ(右マージン) */
margin-left: 5px !important; /* ラインの長さ(左マージン) */
opacity: 1 !important;
}

.tabbrowser-tab[pinned] .tab-context-line {
-moz-box-ordinal-group: 2 !important;
height: 2px !important;
margin-top: 30px !important;
margin-right: 3px !important;
margin-left: 3px !important;
opacity: 1 !important;
}

