@charset "utf-8";

/*
generic-family (総称フォント) : serif/sans-serif/monospace 等 --> 引用符で囲わない
font-family                 : Times/Arial/monospace 等 -->　引用符で囲う
*/



/*
@font-face {
  font-family: "Roboto";
  src: local("Roboto Flex");
  }
*/


*{
  font-family : sans-serif ;
}


