[Unit]
Description = service unit of generate tver feed
Documentation = "https://fedoraproject.org/wiki/Packaging:Systemd#EnvironmentFiles_and_support_for_/etc/sysconfig_files"
# ${FOOBAR} は変数を 1 つの単語に展開し、$FOOBAR は空白の変数値を複数の単語に分割します
# unitname-Mon@env_arg.service

[Service]
Type = oneshot
WorkingDirectory = %h/repository/generate_feed

ExecStart = %h/.local/bin/uv   run -m src.feed_tver_special.tver_get_special
