

name: shellscript test
on: workflow_dispatch
# branches-ignore: '**'
jobs:
    scripts:
        if: true
        runs-on: ubuntu-latest
        env:
          HOSTNAME: hoge-desktop

        strategy:
          fail-fast: false
          matrix:
            script:
            - scripts/sample.sh


        steps:
          - name: checkout
            uses: actions/checkout@v4

          - name: test script
            run:  ${GITHUB_WORKSPACE}/${{ matrix.script }}


    makefile:
        if: false
        runs-on: ubuntu-latest
        env:
          HOSTNAME: fuga-server

        steps:
          - name: checkout
            uses: actions/checkout@v4

          - name: test
            run:  setup.sh
