
# https://wiki.archlinux.jp/index.php/Samba


[Unit]
Description = Mount Share at boot
Requires = systemd-networkd.service
After = network-online.target
Wants = network-online.target

[Mount]
What = //server/share
Where = /mnt/myshare
Options = credentials=/etc/samba/creds/myshare,iocharset=utf8,rw,x-systemd.automount
Type = cifs
TimeoutSec = 30

[Install]
WantedBy = multi-user.target